<div class="container">
  <div class="row">
    <div class='col-lg-4 col-md-6 col-sm-12'>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">USD/RUB</span>
          <div class="col-sm-10 form-control">
            <p id="dollar_rate_value"><%= @rate.current_value %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>